@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

body {
	width: 330px;
	min-height: 540px;
	min-width: 250px;
	margin: 0;
	font-family: $body-font-family;
	overflow-x: hidden;
}

p {
	line-height: 1.6;
}

label {
	font-weight: 600;
	.footnote {
		display: block;
		opacity: 0.6;
		font-size: 13px;
		font-weight: 400;
		margin-top: -2px;
	}
}

input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid $grey;
	padding: 12px;
	margin: 4px 0;
	font-size: 16px;
	&:focus {
		border-color: $primary-3;
		outline: 0;
	}
	&:disabled {
		cursor: not-allowed;
	}
}

.button {
	all: unset;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
	border: 0;
	background-color: $primary-1;
	width: 100%;
	height: 50px;
	font-weight: 600;
	color: $white;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	transition: background-color .1s ease-in-out;
	margin-bottom: 8px;
	&:hover, &:focus {
		background-color: $primary-2;
	}
	&.secondary {
		background-color: $white;
		border: 3px solid $primary-1;
		color: $primary-2;
		&:hover, &:focus {
			background-color: $primary-1;
			color: $white;
		}
	}
	&:disabled {
		background-color: $grey;
		color: $black;
		cursor: not-allowed;
	}
	&.danger {
		background-color: $danger;
	}
}

.link {
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	color: $primary-3;
	text-decoration: none;
	transition: color .1s ease-in-out;
	&:hover, &:focus {
		color: $primary-2;
	}
	.material-icons {
		font-size: 132%;
		margin-left: 4px;
	}
}

// Super simple grid
.row {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	&.align-center {
		align-items: center;
	}
}
.column,
.columns {
	flex-grow: 1;
	padding-right: 24px;
	padding-left: 24px;
}

#wpe-installs {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 20px;
		border-bottom: $grey 1px solid;
		color: $primary-2;
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;
		&:after {
			opacity: 0;
			width: 12px;
			height: 12px;
			border-right: $primary-1 solid 2px;
			border-bottom: $primary-1 solid 2px;
			content: '';
			transform: rotate(-45deg);
		}
		&:hover {
			background-color: $grey;
			&::after {
				opacity: 1;
			}
		}
	}
}
